<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Weather Dashboard</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/585da8a374.js" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/annotations.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <script src="{{ url_for('static', filename='geolocation.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <!-- Non-mobile screens -->
    <a class="navbar-brand text-truncate d-none d-sm-block" href="{{ url_for('index') }}">
      <i class="fas fa-cloud-sun"></i>
      {% if (village or town or city or county) is not none %}
        Weather Dashboard - {{ (village or town or city or county) + ", " + (state or country) }}
      {% else %}
        Weather Dashboard - {{ state or country }}
      {% endif %}
    </a>
    <!-- Mobile screens -->
    <a class="navbar-brand d-block d-sm-none" href="{{ url_for('index') }}">
      <i class="fas fa-cloud-sun"></i>
      Weather Dashboard
      <br />
      {% if (village or town or city or county) is not none %}
        {{ (village or town or city or county) + ", " + (state or country) }}
      {% else %}
        {{ state or country }}
      {% endif %}
    </a>
    <div class="form-inline">
      <form class="my-2 my-lg-0" action="{{ url_for('index') }}" method="GET">
        <input class="form-control mr-sm-2" type="search" id="location" name="location" placeholder="Location" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit">Go</button>
          <button class="btn btn-outline-light my-2 my-sm-0" onclick="getLocation();" type="button">
            <i class="fas fa-location-arrow"></i>
          </button>
      </form>
    </div>
  </nav>

  <div class="container">

    <div class="row">
      &nbsp;
    </div>

    {% if location_not_found %}
      <div class="alert alert-danger text-center" role="alert">
        Location not found. Please search for another location.
      </div>
    {% endif %}

    <!-- Non-mobile screens -->
    <div class="row d-none d-sm-block">
      <div class="container">
        <div class="row">
          <div class="col text-center text-white bg-danger rounded m-1 p-3">
            <h5>
              {{ current_temperature | safe }} °F ({{ current_apparent_temperature | safe }} °F)
            </h5>
            <p>Current Temperature</p>
            <div class="icon"><i class="fas fa-thermometer-three-quarters"></i></div>
          </div>
          <div class="col text-center text-white bg-success rounded m-1 p-3">
            <h5>{{ current_humidity | safe }}%</h5>
            <p>Current Humidity</p>
            <div class="icon d-none d-sm-block"><i class="fas fa-tint"></i></div>
          </div>
          <div class="col text-center text-white bg-secondary rounded m-1 p-3">
            <h5>{{ current_wind_speed | safe }} mph</h5>
            <p>Current Wind Speed</p>
            <div class="icon d-none d-sm-block"><i class="fas fa-wind"></i></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile screens -->
    <div class="row d-block d-sm-none">
      <div class="container">
        <div class="row">
          <div class="col text-center text-white bg-danger rounded m-1 p-3">
            <h5>
              {{ current_temperature | safe }} °F
              <br />
              ({{ current_apparent_temperature | safe }} °F)
            </h5>
            <p>Temperature</p>
          </div>
          <div class="col text-center text-white bg-info rounded m-1 p-3">
            <h5>{{ current_humidity | safe }}%</h5>
            <br />
            <p>Humidity</p>
            <div class="icon d-none d-sm-block"><i class="fas fa-tint"></i></div>
          </div>
          <div class="col text-center text-white bg-success rounded m-1 p-3">
            <h5>{{ current_wind_speed | safe }} mph</h5>
            <br />
            <p>Wind</p>
            <div class="icon d-none d-sm-block"><i class="fas fa-wind"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      &nbsp;
    </div>

    <div class="row">
      <div id="container" style="width:100%; height:70vh"></div>
    </div>

  </div>

  <script>
    if( /Android|webOS|iPhone|iPod/i.test(navigator.userAgent) ) {
      annotations_labels_point_y_forecast = 200
      annotations_labels_point_y_precip = 60
      annotations_labels_text_precip_suffix = "<br />&nbsp;in"
      xAxis_fontSize = "1.2em"
      xAxis_labels_x = 20
      xAxis_dateTimeLabelFormats_day = "%a"
    } else {
      annotations_labels_point_y_forecast = {{ daily_temperature_high | max }}
      annotations_labels_point_y_precip = 67
      annotations_labels_text_precip_suffix = " in"
      xAxis_fontSize = "1.6em"
      xAxis_labels_x = 85
      xAxis_dateTimeLabelFormats_day = "%A"
    }

    document.addEventListener("DOMContentLoaded", function() {
    var myChart = Highcharts.chart("container", {
            title: {
                text: null
            },
            chart: {
                backgroundColor: "#eeeeee",
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            time: {
                timezone: "{{ timezone | safe }}"
            },
            annotations: [{
                labelOptions: {
                    shape: "rect",
                    backgroundColor: "rgba(0, 0, 0, 0.80)",
                    useHTML: true,
                },
                labels: [
                  {% for i in range(6) %}
                    {
                    point: {
                        xAxis: 0,
                        yAxis: 0,
                        x: {{ forecast_days[i] }},
                        y: annotations_labels_point_y_forecast,
                    },
                    {% if daily_forecast_icons[i] == "clear-day" %}
                      text: '<center>Clear</center>',
                    {% elif daily_forecast_icons[i] == "rain" %}
                      text: '<center>Rain</center>',
                    {% elif daily_forecast_icons[i] == "snow" %}
                      text: '<center>Snow</center>',
                    {% elif daily_forecast_icons[i] == "sleet" %}
                      text: '<center>Sleet</center>',
                    {% elif daily_forecast_icons[i] == "wind" %}
                      text: '<center>Wind</center>',
                    {% elif daily_forecast_icons[i] == "fog" %}
                      text: '<center>Fog</center>',
                    {% elif daily_forecast_icons[i] == "cloudy" %}
                      text: '<center>Mostly Cloudy</center>',
                    {% elif daily_forecast_icons[i] == "partly-cloudy-day" %}
                      text: '<center>Partly Cloudy</center>',
                    {% else %}
                      text: '<center>Clear</center>',
                    {% endif %}
                    align: "left",
                    x: 10,
                    y: 0,
                    },
                  {% endfor %}
                ],
            }, {
                labelOptions: {
                    shape: "rect",
                    backgroundColor: "rgba(0, 0, 0, 0.80)",
                    useHTML: true,
                },
                labels: [
                  {% for i in range(6) %}
                  {
                    point: {
                        xAxis: 0,
                        yAxis: 1,
                        x: {{ forecast_days[i] }},
                        y: annotations_labels_point_y_precip,
                    },
                    text: "{{ daily_precip_intensity[i] }}" + annotations_labels_text_precip_suffix,
                    align: "left",
                    x: 10,
                  },
                  {% endfor %}
                ],
            }],
            xAxis: {
                type: "datetime",
                min: {{ forecast_days[0] }},
                max: {{ forecast_days[6] }},
                opposite: true,
                alternateGridColor: "#f3f3f3",
                showLastLabel: false,
                labels: {
                    x: xAxis_labels_x,
                    style: {
                        fontSize: xAxis_fontSize,
                        fontWeight: "bold",
                    },
                },
                units: [
                    ["day", [1]]
                ],
                dateTimeLabelFormats: {
                    day: xAxis_dateTimeLabelFormats_day,
                },
                title: {
                    text: null
                },
                crosshair: {
                    color: "orange"
                },
                plotLines: [{
                    color: "black",
                    value: {{ current_time }},
                    width: 1,
                },
                {% for i in forecast_days %}
                  {
                      color: "lightgray",
                      value: {{ i }},
                      width: 2,
                  },
                {% endfor %}
                ],
            },
            yAxis: [{
                title: {
                    text: "Temperature",
                    style: {
                        fontSize: "1.2em",
                        fontWeight: "bold",
                    },
                },
                labels: {
                    enabled: false,
                    format: "{value} °F"
                },
                min: {{ daily_temperature_low | min - 5 }},
                max: {{ daily_temperature_high | max + 5 }},
                startOnTick: false,
                endOnTick: false,
                height: "30%",
                top: "0%",
                offset: 0,
                plotLines: [{
                    color: "lightblue",
                    value: 32,
                    width: 2,
                }],
            }, {
                title: {
                    text: "Precipitation",
                    style: {
                        fontSize: "1.2em",
                        fontWeight: "bold",
                    },
                },
                labels: {
                    enabled: false,
                    format: "{value} %"
                },
                min: 0,
                max: 100,
                height: "30%",
                top: "35%",
                offset: 0,
            }, {
                title: {
                    text: "Moisture",
                    style: {
                        fontSize: "1.2em",
                        fontWeight: "bold",
                    },
                },
                labels: {
                    enabled: false,
                    format: "{value} %"
                },
                min: 0,
                max: 100,
                height: "30%",
                top: "70%",
                offset: 0,
            }],
            series: [{
                    name: "Temperature",
                    type: "line",
                    color: "red",
                    data: {{ zipped_temperature | safe }},
                    yAxis: 0,
                    marker: {
                        enabled: false
                    },
                }, {
                    name: "High Temperature",
                    type: "line",
                    color: "black",
                    lineWidth: 0,
                    data: {{ zipped_temperature_high | safe }},
                    yAxis: 0,
                    enableMouseTracking: false,
                    stickyTracking: false,
                    marker: {
                        enabled: true,
                        symbol: "circle",
                    },
                    tooltip: {
                        valueDecimals: 2,
                    },
                    states: {
                        hover: {
                            enabled: false,
                        },
                        inactive: {
                            enabled: false,
                        },
                    },
                    dataLabels: {
                        enabled: true,
                        crop: false,
                        overflow: "allow",
                        verticalAlign: "bottom",
                    },
                },
                {
                    name: "Low Temperature",
                    type: "line",
                    color: "black",
                    lineWidth: 0,
                    data: {{ zipped_temperature_low | safe }},
                    yAxis: 0,
                    enableMouseTracking: false,
                    stickyTracking: false,
                    marker: {
                        enabled: true,
                        symbol: "circle",
                    },
                    tooltip: {
                        valueDecimals: 2,
                    },
                    states: {
                        hover: {
                            enabled: false,
                        },
                        inactive: {
                            enabled: false,
                        },
                    },
                    dataLabels: {
                        enabled: true,
                        crop: false,
                        overflow: "allow",
                        verticalAlign: "top",
                    },
                }, {
                    name: "Precipitation Probability",
                    type: "column",
                    color: "blue",
                    data: {{ zipped_precip_probability | safe }},
                    yAxis: 1,
                    marker: {
                        enabled: false
                    },
                }, {
                    name: "Humidity",
                    type: "line",
                    color: "green",
                    data: {{ zipped_humidity | safe }},
                    yAxis: 2,
                    marker: {
                        enabled: false
                    },
                }, {
                    name: "Cloud Cover",
                    type: "line",
                    color: "gray",
                    dashStyle: "Dash",
                    data: {{ zipped_cloud_cover | safe }},
                    yAxis: 2,
                    marker: {
                        enabled: false
                    },
                }
            ],
            tooltip: {
                split: true,
            },
        });
});
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
